@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Centra';
  src: url('../src/assets/font/CentraNo2-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Centra';
  src: url('../src/assets/font/CentraNo2-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Centra';
  src: url('../src/assets/font/CentraNo2-Book.ttf') format('truetype');
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
  color: #fff !important;
  background-color: #121212 !important;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
  line-height: normal;
}